<!-- new card version-->
<div class="col">
    <div class="card d-flex flex-column person {{include.card-class}} h-100" id="{{person.title}}">
        <!-- image -->
        <img class="card-img-top" alt="{{ person.title }}"
            src="{{site.baseurl}}{{ person.image }}">
        <!-- body -->
        <div class="card-body">
            <!-- Name with academic titles (academic DE only)-->
            {% case page.language %}
            {% when "en" %}
            <h2 class="card-title {{include.text-class}}">
                {{person.title }}
            </h2>
            {% when "de" %}
            <h2 class="card-title {{include.text-class}}">
                {{person.prenominals}} {{person.title }} <span style="font-size: smaller;">{{person.postnominals}}</span>
            </h2>
            {% endcase %}
            <!--Job title-->            
            <h3 class="card-title {{include.text-class}}">{{
      person.jobtitle }}</h3>
            <p class="card-text {{include.text-class}}">
                {{ person.content  | remove: '<p>' | remove: '</p>'}}
            </p>
        </div>
        <!-- card footer -->
        {% if person.email or person.linkinurl or person.orcid %}
        <!-- contact details -->
        <div class="align-self-end mb-1 mx-auto person-contact {{include.text-class}}">
            {% if person.email %}
            <a target="_blank"
                href="mailto:{{ person.email | encode_email }}"><i
                    class="fas fa-envelope fa-lg me-2 {{include.text-class}}"></i></a>
            {% endif %}
            {% if person.linkedinurl %}
            <a target="_blank" href="{{ person.linkedinurl }}"><i
                    class="fab fa-linkedin fa-lg me-2 {{include.text-class}}"></i></a>
            {% endif %}
            {% if person.orcid %}
            <a target="_blank" href="http://orcid.org/{{ person.orcid }}">
                <img src="{{site.baseurl}}/images/social/ORCIDiD_iconvector.svg"
                    style="height:20px;width:auto;">
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>